@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-size: 32px;
    font-weight:bold;
    text-align: center;   
}
nav >.box > a:hover {
  color: white;
}
nav > a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: black;
}
nav > a:hover {
    color: #FF0077;  
}
a {
  text-decoration: none;
}
.banner {
    width: 100%;
    margin-top: 80px;
} 
.container {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.row {
    display:flex;
    flex-wrap: wrap;
}

.column {
    height: 260px;
    width: 25%;
  }
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    background-color: white;
    height: 80px;
    box-shadow: 0px 1px 35px #d8cbd1;
}
  .product-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

div > svg{
    display:grid;
    height: 15%;
    padding: 0px;
    padding-bottom: 15px;
    fill: #FF0077;
    vertical-align:middle;
}
.service-name {
    color: #FF0077;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
}
.service-text {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.box {
    padding-top: 6.95%;
    padding-bottom: 6.95%;
    background-color:#FF0077;
    color: white;
    
  }
#about {
    background-color: #0077ff;;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 80px;
  }
  section > div > svg {
      display: inline-block;
      justify-items: baseline;
  }
  .product-image {
    display: grid;
    justify-items: center;
    margin-bottom: 50px;

  }
  .product-price {
    color: #FF0077;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    
  }
  .product-description { 
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight:600;
    color: #858585;
  }
  .row-p {
      display: flex;
      flex:auto ;
      margin-left: 100px;
      margin-right: 100px;
  }
  .column-p {
    display:table;
    align-items:center;
    justify-items: center;
    width: 100%;
    height:300px;
  }
  #contact {
    color: white;
    background-color:#FF0077;
    padding-top: 10px;
    padding-bottom: 60px;
    font-size: 16px;
  }
   .footer {
    background-color:#FF0077;
    color: white;
    font-size: 14px;
    padding-bottom: 40px;
    padding-top:  20px;
    text-align: center;
   }  
.buttonClass {
  font-size:16px;
  width:140px;
  height:38px;
  border-width:0px;
  color:#fff;
  font-weight:bold;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  background:#FF0077;
  text-decoration: none;
  padding: 5px 5px;
  cursor: pointer;
}
              
 .button {
   text-align: center;
 }
 .img2 {
  display: table-cell;
  float: left;
  margin-top: 150px;
 }
 .container2 {
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 60px;
 }
 .texto {
   width: 700px;
   display: table-cell;
   float: left;
   margin-left: 30px;
 }
 .h2sobre{
   float: left;
 }
.icones-sociais{
  list-style: none;
  display: flex;
 float: left;
  width: 25%;
}
.fi{
  width: 30px;
  height: 30px;
  margin: 1rem;
}
.containerf{
  display: flex;
}
.logofooter {
  margin-left: 80px;
}
.siga {
  display:flex;
}
.container3 {
  display: table;
  width: 100%;
}
.texto2 {
  width: 700px;
  display: table-cell;
  float: left;
  margin-left: 30px;
}
.imgesq{
  display: flex;
  float: left;
  margin-top: 80px;
}
#banhoetosa {
  color: #FF0077;
  font-size: 20px;
  font-weight: bold;
}
.container4 {
  display: table;
  background-color: #FF0077;
  width: 100%;
}
.imgdir{
  display: flex;
  float:right;
}
.texto3 {
  width: 700px;
  display: table-cell;
  float: right;
  margin-right: 30px;
  color: white;
  text-align: right;
}
#centromedico {
  color: white;
  font-size: 20px;
  font-weight: bold;
  float: right;
  text-align: right;
}
.texto4{
  width: 700px;
  display: table-cell;
  float: right;
  margin-right: 30px;
  color: white;
}
.texto5{
  width: 700px;
  display: table-cell;
  float: left;
  margin-left: 30px;
  color: white;
}
.imgesq2 {
  display: flex;
  float: left;
  height: auto;
}
#farmaciapet {
  color: white;
  font-size: 20px;
  font-weight: bold;
  float: left;
  text-align: left;
}
.container5 {
  display: table;
  background-color: #0077ff;
  width: 100%;
}
.container6{
  display: table;
  background-color: #FF320D;
  width: 100%;

}
#tele {
  color: white;
  font-size: 20px;
  font-weight: bold;
  float: left;
  text-align: left;
  margin-right: 15px;
}
#tele-entrega {
  color: white;
  font-size: 20px;
  font-weight: bold;
  float: right;
  text-align: right;
  margin-right: 15px;
}
.container7{
  display: table;
  background-color: #C10DFF;
  width: 100%;
}
.container8{
  display: table;
  background-color: #6cf515;
  width: 100%;
}
.container9{
  display: table;
  background-color: #382c32;
  width: 100%;
}
#services2{
  margin: 0 auto;
}
#services{
  margin-bottom: 0px;
}
#quote {
  padding-top: 170px;
  padding-bottom: 100px;
  display: flex;
}
.containerfale{
  width: 50%;
  margin-left: 100px;
}
.containerd {
 float: right;
 padding-right: 50px;
}
.rosacontact {
  color: #FF0077;
  font-weight: bold;
}
.titulocontact {
  font-size: 14px;
  color: #858585;
  font-weight: bold;
}
input, select, textarea {
  border-radius: 3px;
  padding: 6px;
  border-color: #cfcbcb;
}
.campo {
  margin-bottom: 1em;
}
.campo .form-item {
  width: 95%;
}
.titulofale {
  text-align: left;
}
label {
  color: #858585;
  font-weight: bold;
}
.containermidias {
  display: inline;
}
.textoalign {
  text-align:center;
}




/*Responsividade*/
@media only screen and (max-width:480px) {
#services {
  width: 100%;
}
.row {
  display: inline;
}
.row-p {
  display: inline;
}
nav {
  display: none;
}
#about {
  padding-left: 10px;
  padding-right: 10px;
}
header {
  position: absolute;
  width: 100%;
}
.column-p {
  width: 50%;
}
.column {
  height: auto;
  width: 60%;
  padding: 1em;
}
.column > svg {
  width:35%;
}
.containerf {
  display: inline;
  text-align: center;
}
.siga {
  float: none;
  text-align: center;
  margin-top: 0%;
  margin-right: 0%;
}
 li {
  float:right;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.texto {
  width: 60%;
}
.textoalign {
  margin-top: 10px;
}
.texto2 {
  width: 80%;
  color: white;
}
.texto3 {
  width: 80%;
}
.texto4 {
  width: 80%;
}
.texto5 {
  width: 80%;
}
.container3 {
  display: inline;
  flex-wrap: wrap;
}
.container4 {
  display: inline;
  flex-wrap: wrap;
}
.container5{
  display: inline;
  flex-wrap: wrap;
  background-color: #0077ff;
}
.container6 {
  display: inline;
  flex-wrap: wrap;
}
.container7 {
  display: inline;
  flex-wrap: wrap;
}
.container8 {
  display: inline;
  flex-wrap: wrap;
}
.container9 {
  display: inline;
  flex-wrap: wrap
};
.containerfale{
  width: 100%;
}
#quote {
 flex-wrap: wrap;
}
.containerd {
  display: inline;
  text-align: center;
  padding-right: 0%;
 }
 iframe {
   width: 100%;
 }
}